html, body {
	background: #ACCBE1;
	font-family: arial, san-serif;
	font-size: 16px;
	color:#363635;
}
	p {
	font-size:1em;
	line-height:1.4em;
	margin-bottom:20px;
	color:#637081;
}
	ul {
	font-size:1em;
	line-height:1.4em;
	margin-bottom:20px;
	color:#637081;
}
	h1 {
	border-bottom: 1px solid #082D0F;
	padding:20px 0 0;
}
	h2 {
	font-size:20px;
	color:#1E1A1D;
	padding:20px 0 0;
}
	#page {
	width:90%;
	maxwidth: 900px;
	background:#9DC5BB;
	margin: 30px auto;
}
	#reference {
	width:90%;
	maxwidth: 900px;
	background:#9DC5BB;
	margin: 30px auto;
}
	section {
	border-top: 1px solid #5E807F;
	padding: 20px 0 0;
}
	section:first-child {
	border-top: 0;
}
	section:last-child {
	padding: 20px 0 10px;
}
