html, body {
	background:
	font-family:
	font-size:
	color:
}
p {
	font-size:
	line-height:
	margin-bottom:
	color:
}
	h1 {
	border-bottom: 1px solid 
	padding:
}

	h2{
	font-size:
	color:
	padding:
}

	h3{
	font-size:
	color:
	padding:
}
