html, body {
	background: #8FBB99;
	font-family: arial, san-serif;
	font-size: 16px;
	color:#363635;
}
	p {
	font-size:1em;
	line-height:1.4em;
	margin-bottom:20px;
	color:#ADF7B6;
}
	#container {
	width:90%;
	maxwidth: 900px;
	background:#DEE5E5;
	margin: 30px auto;
}
	h1 {
	border-bottom: 1px solid #082D0F;
	padding:20px 0 0;
}

	h2 {
	font-size:20px;
	color:#082D0F;
	padding:20px 0 0;
}

	h3 {
	font-size:15px;
	color:#082D0F;
	padding:20px 0 0;
}
	section {
	border-top: 1px solid #5E807F;
	padding: 20px 0 0;
}
	section:first-child {
	border-top: 0;
}
	section:last-child {
	padding: 20px 0 10px;
}
