html, body {
	background:#8FBB99
	font-family: arial, san-serif
	font-size: 16px
	color:#363635
}
p {
	font-size:
	line-height:
	margin-bottom:
	color:
}
	h1 {
	border-bottom: 1px solid 
	padding:
}

	h2{
	font-size:
	color:
	padding:
}

	h3{
	font-size:
	color:
	padding:
}
