html, body {
	background:#8FBB99
	font-family: arial, san-serif
	font-size: 16px
	color:#363635
}
p {
	font-size:1em
	line-height:1.4em
	margin-bottom:20px
	color:#ADF7B6
}
	h1 {
	border-bottom: 1px solid 
	padding:
}

	h2{
	font-size:
	color:
	padding:
}

	h3{
	font-size:
	color:
	padding:
}
